# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/*.asm
*.opt
*.lst
Debug/*.xml
unittest/unittest
Debug/makefile
